/* src/components/Hero.css */
.background {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #242424, #241f31);
    display: flex;
    flex-grow: 1;
    z-index: -1;
}

.background div {
    position: absolute;
    border-radius: 100%;
    height: 0;
    filter: blur(240vw);
    opacity: 0.4;
}

.background div:nth-child(1) {
    background: linear-gradient(132deg, #613583 0.00%, #1a5fb4 100.00%);
    width: 24%;
    padding-top: 24%;
    left: 22%;
    top: 25%;
    transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(2) {
    background: linear-gradient(132deg, #1a5fb4 0.00%, #a51d2d 100.00%);
    width: 40%;
    padding-top: 40%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(3) {
    background: linear-gradient(132deg, #1FCFC3 0.00%, #1F91CF 100.00%);
    width: 30%;
    padding-top: 30%;
    left: 80%;
    top: 80%;
    transform: translateX(-50%) translateY(-50%);
}
